body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
    color: black;
}

.program {
    border: 3px solid black;
    padding: 20px;
    border-radius: 15px;
    background-color: #F5F5F5;
}

#main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
}

.menu-btn {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 25px;
}

button{
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    background-color: #d3d3d3;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px;
}
.menu-txt {
    text-align: center;
    font-size: 20px;
}

button.menu-button {
    width: 250px;
    height: 150px;
    font-weight: bold;
    font-size: 35px;
    background-color: #d3d3d3;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: #797979 ;
}

.bookingsList{
    text-align:left; 
    margin-top:20px;
}

.instruction{
    font-style: italic;
    margin-bottom: 10px;
    color: black;
    font-size: large;
}

.guestName, #checkoutName, #guestName {
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin: 10px 0;
    padding: 5px;
}

#bookingsList {
    font-size: 16px;
    margin: 10px 0;
    padding: 5px;
}
.hidden {
    display: none;
}


section {
    text-align: center;
}